<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher login</title>
</head>
<body>
<form action="{% url 'teacher:teacher_home' %} ">
    <h2>Welcome to Teacher login</h2>
    <table>
        <tr>
            <td><label>Username:</label>
            <input type="text">
            </td>
        </tr>
        <tr>
            <td><label>Password:</label>
                <input type="password">
                </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="log In">
            </td>
        </tr>
    </table>
</form>
</body>
</html>